@model IEnumerable<WebASM1670.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in ViewBag.book)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/@item.Image" asp-append-version="true" alt="@item.Title" />
                <div style="text-align:center; class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-title">@item.Price</h6>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View Details</a>
                    <br>
                    <br>
                    <form asp-action="Create" asp-controller="Cart">
                        <input type="hidden" value="@item.Id" name="BookId">
                        <button type="submit">Add To Cart</button>
                    </form>

                </div>
            </div>
        </div>
    }
</div>
